<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.creat.bookfriend.mapper.BookInfoCustomMapper" >
    <resultMap id="BaseResultMap" type="com.creat.bookfriend.po.BookInfo" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="book_name" property="bookName" jdbcType="VARCHAR" />
        <result column="isbn" property="isbn" jdbcType="BIGINT" />
        <result column="author" property="author" jdbcType="VARCHAR" />
        <result column="book_brief_id" property="bookBriefId" jdbcType="BIGINT" />
        <result column="place" property="place" jdbcType="VARCHAR" />
        <result column="cover_img" property="coverImg" jdbcType="VARCHAR" />
        <result column="category_id" property="categoryId" jdbcType="INTEGER" />
        <result column="tag_id" property="tagId" jdbcType="INTEGER" />
        <result column="state" property="state" jdbcType="TINYINT" />
        <result column="user_info_id" property="userInfoId" jdbcType="BIGINT" />
        <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
        <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    </resultMap>
    <resultMap id="CustomResultMap" type="com.creat.bookfriend.po.BookInfoCustom" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="book_name" property="bookName" jdbcType="VARCHAR" />
        <result column="isbn" property="isbn" jdbcType="BIGINT" />
        <result column="author" property="author" jdbcType="VARCHAR" />
        <result column="book_brief_id" property="bookBriefId" jdbcType="BIGINT" />
        <result column="place" property="place" jdbcType="VARCHAR" />
        <result column="cover_img" property="coverImg" jdbcType="VARCHAR" />
        <result column="category_id" property="categoryId" jdbcType="INTEGER" />
        <result column="tag_id" property="tagId" jdbcType="INTEGER" />
        <result column="state" property="state" jdbcType="TINYINT" />
        <result column="user_info_id" property="userInfoId" jdbcType="BIGINT" />
        <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
        <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
        <association property="bookBrief" column="book_brief_id"
                     select="com.creat.bookfriend.mapper.BookBriefMapper.selectByPrimaryKey"/>
        <collection property="bookImgs" column="id"
                    select="com.creat.bookfriend.mapper.BookImgCustomMapper.getBookImgsByBookInfoId"/>
    </resultMap>
    <sql id="Base_Column_List" >
        id, book_name, isbn, author, book_brief_id, place, cover_img, category_id, tag_id,
        state, user_info_id, gmt_create, gmt_modified
    </sql>
    <select id="selectCollectionBook" resultMap="BaseResultMap">
        SELECT
        book_info.id, book_name, isbn, author, book_brief_id, place, cover_img, category_id, tag_id,
        book_info.state, book_info.user_info_id, book_info.gmt_create, book_info.gmt_modified
        FROM book_info,book_collection
        WHERE book_collection.user_info_id=#{userInfoId} AND book_collection.book_info_id=book_info.id
        LIMIT 0,#{rows}
    </select>
    <select id="selectBorrowedBook" resultMap="BaseResultMap">
        SELECT
        book_info.id, book_name, isbn, author, book_brief_id, place, cover_img, category_id, tag_id,
        book_info.state, book_info.user_info_id, book_info.gmt_create, book_info.gmt_modified
        FROM book_info,borrow_history
        WHERE borrow_history.user_info_id=#{userInfoId} AND borrow_history.book_info_id=book_info.id
              AND borrow_history.state=0
        LIMIT 0,#{rows}
    </select>
    <select id="selectReadBook" resultMap="BaseResultMap">
        SELECT
        book_info.id, book_name, isbn, author, book_brief_id, place, cover_img, category_id, tag_id,
        book_info.state, book_info.user_info_id, book_info.gmt_create, book_info.gmt_modified
        FROM book_info,borrow_history
        WHERE borrow_history.user_info_id=#{userInfoId} AND borrow_history.book_info_id=book_info.id
        AND borrow_history.state=1
        LIMIT 0,#{rows}
    </select>
    <select id="selectBooksLimit" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from book_info
        LIMIT 0,#{rows}
    </select>
    <select id="selectBookInfoCustomById" resultMap="CustomResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List" />
        from book_info
        where id = #{bookInfoId,jdbcType=BIGINT}
    </select>
    <select id="selectBooksByCityId" resultMap="BaseResultMap">
        select
        book_info.id, book_name, isbn, author, book_brief_id, place, cover_img, category_id, tag_id,
        state, user_info_id, book_info.gmt_create, book_info.gmt_modified
        from book_info,user_info
        where  user_info.city_id = #{cityId,jdbcType=BIGINT}
        AND user_info.id = book_info.user_info_id LIMIT 0,#{rows}
    </select>
</mapper>